/*
    NOTES:

    > Applies styling to all elements

      * {}


    > Condense 4 properties into one:

      border-right: 5px red solid;
      border-left: 5px red solid;
      border-top: 5px red solid;
      border-bottom: 5px red solid;

      Goes to:

      border: 5px red solid;

      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: normal;

      Goes to:

      font: normal 16px Arial, Helvetica, sans-serif;


    > Precedence... The first 3 settings get over-ridden by the fourth

      border-width: 3px;
      border-bottom-width: 10px;
      border-top-style: dotted;

      border: 5px red solid;


    > Targetting elements within a class

      h1 {}                 Targets ALL h1
      .class-name h1 {}     Targets h1 within the class "class-name"


    > Targetting classes within a class

      .form-group           Targets ALL classes called "form-group"
      .my-form .form-group  Targets classes called "form-group" within the "my-form" class


    > Targetting subsets of elements:

      input {}                  Targets all <input> elements
      input[type="text"] {}     Targets <input> elements of type "text"


    > Clearing floats

      None:     the element is not moved down to clear past floats.
      Left:     the element is moved down to clear past left floats.
      Right:    the element is moved down to clear past right floats.
      Both:     the element is moved down to clear past both left and right floats.    

*/


    body
    {
        background-color: #f4f4f4;
        color: #555555;
        font: normal 16px Arial, Helvetica, sans-serif;

        line-height: 1.6em;
        margin: 0;
    }

    a
    {
        text-decoration: none;
        color: black;
    }

    a:active
    {
        color: green;
    }

    a:visited
    {
        /*color: purple;*/
    }

    a:hover
    {
        color: red;
    }

    .clr
    {
        clear: both;
    }

    .container
    {
        width: 80%;
        margin: auto;
    }

    .box-1
    {
        background-color: #333333;
        color: #ffffff;
        border: 5px red solid;
        padding: 20px;
        margin-top: 20px;
    }

    .box-1 h1
    {
        font-family: Tahoma;
        font-weight: 800px;
        font-style: italic;
        text-decoration: underline;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        word-spacing: 1em;
    }

    .box-2
    {
        border: 3px dotted #cccccc;
        padding: 20px;
        margin: 20px 0;
    }

    .categories
    {
        border: 1px solid #cccccc;
        padding: 10px;
        border-radius: 15px;
    }

    .categories h2
    {
        text-align: center;
    }

    .categories ul
    {
        padding: 0;
        padding-left: 20px;
        list-style: square;
        list-style: none;
    }

    .categories li
    {
        padding-bottom: 6px;
        border-bottom: dotted 1px #333333;
        list-style-image: url('../images/checkmark-20.png');
    }

    .my-form
    {
        padding: 20px;
    }

    .my-form .form-group
    {
        padding-bottom: 15px;
    }

    .my-form label
    {
        display: block;
    }

    .my-form input[type="text"], textarea
    {
        padding: 8px;
        width: 100%;
    }

    .button
    {
        background-color: #333333;
        color: white;
        padding: 10px 15px;
        border: none;
    }

    .button-hover
    {
        background: red;
        color: white;
    }

    .block
    {
        float: left;
        width: 20%;
        border: 1px solid #cccccc;
        padding: 10px;
        box-sizing: border-box;
    }

    #main-block
    {
        float: left;
        width: 70%;
        padding: 15px;
        box-sizing: border-box;
    }

    #sidebar
    {
        float: right;
        width: 30%;
        background-color: #333333;
        color: white;
        padding: 15px;
        box-sizing: border-box;
    }

    .p-box
    {
        width: 800px;
        height: 500px;
        border: 1px solid black;
        margin-top: 30px;
        position: relative;
        background-image: url('../images/bgimage.jpg');
        background-position: 100px 200px;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .p-box h1
    {
        position: absolute;
        top: 100px;
        left: 200px;
    }

    .p-box h2
    {
        position: absolute;
        bottom: 40px;
        right: 100px;
    }

    .fix-me
    {
        position: fixed;
        top: 400px;
    }

    .my-list li:first-child
    {
        background: red;
    }

    .my-list li:last-child
    {
        background: blue;
    }

    .my-list li:nth-child(6)
    {
        background: yellow;
    }

    .my-list li:nth-child(even)
    {
        background: grey;
    }


